<form id="frmAltaPelicula" name="frmAltaPelicula" method=post>
  <input type="hidden" id="action" name="action" value="Pelicula::altaPelicula">

  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%">


    <tr>
      <th colspan="4" align="center"> <b>Alta Pel&iacute;cula</b></th>
    </tr>

    <tr><td><br /></td></tr>

    <tr>
      <th align="right" width="35%">Nombre: </th>
      <td align="left"><input type="text" name="nombrePelicula" id="nombrePelicula" size="50" maxlength="150" value="{var_nom_pelicula}" required></td>
    </tr>

    <tr>
      <th align="right" width="35%">G&eacute;nero: </th>
      <td align="left">
        <select name="genero" id="genero" required>
          <option value=""> -- Seleccionar un G&eacute;nero -- </option>
          <!-- START BLOCK : blockGenero -->
          <option value={var_genero_id} {var_selected}>{var_genero_nom}</option>
          <!-- END BLOCK : blockGenero -->
        </select>
      </td>
    </tr>

    <tr>
      <th align="right" width="35%">Director: </th>
      <td align="left">
        <select required name="director" id="director">
          <option value=""> -- Seleccionar un Director -- </option>
          <!-- START BLOCK : blockDirector -->
          <option value={var_director_id} {var_selected}>{var_director_nom}</option>
          <!-- END BLOCK : blockDirector -->
        </select>
      </td>
    </tr>

    <tr>
      <th align="right" width="35%">Duraci&oacute;n: </th>
      <td align="left"><input type="number" name="duracion" id="duracion" value="{var_dur_peli}" required></td>
    </tr>

    <tr>
      <th align="right" width="35%">Fecha de estreno: </th>
      <td align="left"><input type="date" required name="fechaEstreno" id="fechaEstreno"></td>
    </tr>


    <tr><td><br /></td></tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <input type="submit" value=" Guardar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>

  </table>
</form>
