<form id="frmAltaSala" name="frmAltaSala" method=post> 
  <input type="hidden" id="action" name="action" value="Sala::altaSala">	

  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%">


    <tr>
      <th colspan="4" align="center"> <b> Alta sala </b></th>
    </tr>

    <tr><td><br /></td></tr>

    <tr>
      <th align="right" width="35%"> Nombre: </th>
      <td align="left"><input type="text" name="sa_nombre" id="sa_nombre" size="50" maxlength="150" required></td>
    </tr>

    <tr>
        <th align="right" width="35%"> Exhibici&oacute;n: </th>
      <td align="left"><input type="time" name="sa_horaExhibicion" id="sa_horaExhibicion" required></td>
    </tr>

    <tr><td><br /></td></tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Sala::listarSala'" value=" Volver ">
        <input type="submit" value=" Enviar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>

  </table>
</form>