<form id="frmBajaActor" name="frmBajaActor" method=post> 
  <input type="hidden" id="action" name="action" value="Pelicula::eliminarActor">	

  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%">


    <tr>
      <th colspan="4" align="center"> <b>Baja Actor</b></th>
    </tr>

    <tr><td><br /></td></tr>

    <tr>
      <th align="right" width="35%">Nombre Artistico: </th>
      <td align="left">
        <select name="nombre_artistico" id="nombre_artistico">
          <option value="noSelect"> -- Seleccionar un Actor -- </option>
          <!-- START BLOCK : blockActor -->
          <option value={var_actor_id}>{var_actor_nom}</option>
          <!-- END BLOCK : blockActor -->
        </select>
      </td>
    </tr>


    <tr><td><br /></td></tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <input type="submit" value=" Borrar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>

  </table>
</form>