<form id="frmCamposDirector" name="frmCamposDirector" method=post ENCTYPE="multipart/form-data"> 
  <input type="hidden" name="action" value="Director::updateDirector">	
 
  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%">
    <!-- START BLOCK : block_editar -->
    <!--GUARDO LOS IDS DE ACTORES Y ARTISTAS PARA LUEGO PODER ACTUALIZAR LOS DATOS-->
    <div><input type="text" name="idDirector" id="idDirector" value="{id_director}" style="visibility:hidden" disabled = true></div>
    <br>
    <div><input type="text" name="idArtista" id="idArtista" value="{id_artista}" style="visibility:hidden" disabled=true></div>
     <tr>
      <th align="right" width="35%">Nombre Artistico: </th>
      <td align="left"><input type="text" name="nombreArtistico" id="nombreArtistico" size="50" maxlength="150" value="{nombreArt}"></td>
    </tr>
<!--    <tr>
      <th align="right" width="35%">Nombre: </th>
      <td align="left"><input type="text" name="nombreActor" id="nombreActor" size="50" maxlength="150" value="{nombre}"></td>
    </tr>
    <tr>
      <th align="right" width="35%">Apellido: </th>
      <td align="left"><input type="text" name="apellidoActor" id="apellidoActor" size="50" maxlength="150" value="{apellido}"></td>
    </tr>
    <tr>
      <th align="right" width="35%">DNI: </th>
      <td align="left"><input type="text" name="dniActor" id="dniActor" size="50" maxlength="150" value="{dni}"></td>
    </tr>
    <tr>
      <th align="right" width="35%">EMAIL: </th>
      <td align="left"><input type="text" name="emailActor" id="emailActor" size="50" maxlength="150" value="{email}"></td>
    </tr>
  -->
    
      <tr><td><br /></td></tr>    
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Director::EditarDirector'" value=" Volver ">
        <input type="submit" value=" Guardar ">
      </td>
    </tr>
     <!-- END BLOCK : block_editar -->  
    <tr><td><br /></td></tr>
    
        <!-- START BLOCK : block_campo_vacio -->
         <tr>
             <th colspan="5" align="center" width="35%">{var_texto}</th>
         </tr>    
      <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Actor::EditarDirector'" value=" Volver ">
      </td>
      </tr>
           <tr><td><br /></td></tr>
         <!-- END BLOCK : block_campo_vacio -->
     

    <tr><td><br /></td></tr>

  </table>
</form>
