<form id="frmEditarActor" name="frmEditarActor" method=post ENCTYPE="multipart/form-data"> 
  <input type="hidden" name="action" value="Actor::CamposActor">	
 
  <table align="center" border="0" cellpadding="3" cellspacing="0" width="90%">

    <tr>
      <th colspan="4" align="center"> <b>Editar Actor</b></th>
    </tr>

    <tr><td><br /></td></tr>
     <tr>
         <th align="right" width="35%">Nombre Artistico:</th>
      <td align="left">
   
    <select name="nombreArtistico" id="nombreArtistico">
     <option value=""></option>  
          <!-- START BLOCK : blockActor --> 

          <option value="{id_actor}">{var_nombArtistico}</option>
          <!-- END BLOCK : blockActor -->  
    </select>
      </td>
      </tr>
    <tr>
        
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <input type="submit" value=" Editar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>

  </table>
</form>