<form id="frmArtistas" name="frmArtistas" method=post> 	
<center>
<table align="center" border="1" cellpadding="3" cellspacing="0" width="90%">
	<tr>
		<th colspan="6" align="center"> <b>{var_titulo_tabla}</b></th>
	</tr>
	<tr>
		<th colspan="6" align="center"> <b>{var_subtitulo_tabla}</b></th>
	</tr>
	<tr>
		<th align="center" width="5%">ID Artistico</th>
		<th align="center" width="20%">Nombre</th>
		<th align="center" width="20%">Apellido</th>
		<th align="center" width="10%">DNI</th>
		<th align="center" width="10%">Mail</th>
	</tr>	

	<!-- START BLOCK : blockArtista -->
	<tr>
		<td align="left"> {var_id_art} </td> 
		<td align="left"> {var_nom_act} </td>
		<td align="left"> {var_ape_act} </td>
		<td align="left"> {var_dni_act} </td> 
		<td align="left"> {var_mail_act} </td> 
	</tr>
	<!-- END BLOCK : blockArtista -->

	<!-- START BLOCK : block_no_Artistas -->
	<tr><td colspan="6" align="center"> {var_texto_no_artista} </td></tr>
	<!-- END BLOCK : block_no_Artistas -->

</table>

	<tr><td><br /></td></tr>
    <tr>
      <td colspan="2" align="center">
        <input type="button" onclick="location.href='index.php?action=Ingreso::main'" value=" Volver ">
        <input type="button" onclick="location.href='index.php?action=Artista::altaArtista'" value=" Agregar ">
        <input type="button" onclick="location.href='index.php?action=Artista::bajaArtista'" value=" Eliminar ">
        <input type="button" onclick="location.href='index.php?action=Artista::modificarArtista'" value=" Modificar ">
      </td>
    </tr>
    <tr><td><br /></td></tr>
</center>
</form>
