<form id="frmSalas" name="frmSalas" method=post> 	
    <center>
        <table align="center" border="1" cellpadding="3" cellspacing="0" width="90%">
            <tr>
                <th colspan="6" align="center"> <b>{var_titulo_tabla}</b></th>
            </tr>
            <tr>
                <th colspan="6" align="center"> <b>{var_subtitulo_tabla}</b></th>
            </tr>
            <tr>
                <th align="center" width="20%">Nombre</th>
                <th align="center" width="20%">Pel&iacute;cula</th>
                <th align="center" width="20%">Exhibici&oacute;n</th>
                <th align="center" width="5%">Editar</th>
                <th align="center" width="5%">Borrar</th>

            </tr>	
            <!-- START BLOCK : sala_block -->
            <tr>
                <td align = "center"> {var_nombreSala} </td>
                <!-- START BLOCK : pelicula_sala_block -->
                <td align = "center"> {var_pelicula} </td>
                <!-- END BLOCK : pelicula_sala_block -->
                <!-- START BLOCK : sin_pelicula_sala_block -->
                <td align = "center">
                    <a href="index.php?action=Sala::asignarSala&id={var_idSala}"> Asignar </a>
                </td>
                <!-- END BLOCK : sin_pelicula_sala_block -->
                <td align = "center"> {var_horaExhibicion} </td>
                <td align = "center">
                    <a href="index.php?action=Sala::editarSala&id={var_idSala}"> Editar </a>
                </td>
                <td align = "center">
                    <a href="index.php?action=Sala::eliminarSala&id={var_idSala}"> Borrar </a>
                </td>
            </tr>
            <!-- END BLOCK : sala_block -->

            <!-- START BLOCK : sin_salas_block -->
            <tr>
                <td> No se encontraron salas. </td>
            </tr>
            <!-- END BLOCK : sin_salas_block -->

        </table>

        <tr><td><br /></td></tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" onclick="location.href = 'index.php?action=Ingreso::main'" value=" Volver ">
                <input type="button" onclick="location.href = 'index.php?action=Sala::altaSala'" value=" Agregar ">
            </td>
        </tr>
        <tr><td><br /></td></tr>

    </center>
</form>